/PSP/UD0/Ejercicios/PSP_FicherosEj1_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj1_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj1_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj3_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj3_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj3_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj1&2_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj1&2_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj1&2_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj4_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj4_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj4_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj5_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj5_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj5_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj6_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj6_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj6_OrtizJibajaMario/dist/
/ACDAT/CopiarFile/nbproject/private/
/ACDAT/CopiarFile/build/
/ACDAT/SonIguales/nbproject/private/
/ACDAT/SonIguales/build/
/ACDAT/Alumno/nbproject/private/
/PSP/UD1/Prácticas clase/CrearProcesos/nbproject/private/
/PSP/UD1/Prácticas clase/CrearProcesos/build/
/PSP/UD1/Prácticas clase/CrearProcesos/dist/
/ACDAT/Alumno/build/
/ACDAT/Ficheros8bits/nbproject/private/
/ACDAT/UD1/Ejercicios clase/DateACharArray/nbproject/private/
/ACDAT/UD1/Ejercicios clase/DateACharArray/build/
/ACDAT/UD1/Ejercicios clase/Tema_1_AD_RandomAccessFile_OrtizJibajaMario/nbproject/private/
/ACDAT/UD1/Ejercicios clase/Tema_1_AD_RandomAccessFile_OrtizJibajaMario/build/
/ACDAT/UD1/Ejercicios clase/Tema_1_AD_RandomAccessFile_OrtizJibajaMario/dist/
/PSP/UD1/Ejercicios/PSPEntregaUD1_OrtizJibajaMario_GarciaChandoWenceslao/nbproject/private/
/PSP/UD1/Ejercicios/PSPEntregaUD1/nbproject/private/
/PSP/UD1/Ejercicios/PSPEntregaUD1/build/
/ACDAT/Ortiz_Mario/nbproject/private/
/ACDAT/Ortiz_Mario/build/
/ACDAT/UD1/XML/EjemploDocumentBuilder/nbproject/private/
/ACDAT/UD1/XML/Ejercicio12/nbproject/private/
/ACDAT/UD1/XML/Ejercicio12/build/
/PSP/UD1/Prácticas clase/CrearHilos/nbproject/private/
/PSP/UD1/Prácticas clase/CrearHilos/build/
/PSP/UD1/Prácticas clase/HilosProductoresConsumidores/nbproject/private/
