/PSP/UD0/Ejercicios/PSP_FicherosEj1_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj1_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj1_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj3_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj3_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj3_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj1&2_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj1&2_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj1&2_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj4_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj4_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj4_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj5_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj5_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj5_OrtizJibajaMario/dist/
/PSP/UD0/Ejercicios/PSP_FicherosEj6_OrtizJibajaMario/nbproject/private/
/PSP/UD0/Ejercicios/PSP_FicherosEj6_OrtizJibajaMario/build/
/PSP/UD0/Ejercicios/PSP_FicherosEj6_OrtizJibajaMario/dist/
/ACDAT/CopiarFile/nbproject/private/
/ACDAT/CopiarFile/build/
/ACDAT/SonIguales/nbproject/private/
/ACDAT/SonIguales/build/
/ACDAT/Alumno/nbproject/private/
/PSP/UD1/Prácticas clase/CrearProcesos/nbproject/private/
/PSP/UD1/Prácticas clase/CrearProcesos/build/
/PSP/UD1/Prácticas clase/CrearProcesos/dist/
/ACDAT/Alumno/build/
/ACDAT/Ficheros8bits/nbproject/private/
/ACDAT/UD1/Ejercicios clase/DateACharArray/nbproject/private/
/ACDAT/UD1/Ejercicios clase/DateACharArray/build/
/ACDAT/UD1/Ejercicios clase/Tema_1_AD_RandomAccessFile_OrtizJibajaMario/nbproject/private/
/ACDAT/UD1/Ejercicios clase/Tema_1_AD_RandomAccessFile_OrtizJibajaMario/build/
/ACDAT/UD1/Ejercicios clase/Tema_1_AD_RandomAccessFile_OrtizJibajaMario/dist/
/PSP/UD1/Ejercicios/PSPEntregaUD1_OrtizJibajaMario_GarciaChandoWenceslao/nbproject/private/
/PSP/UD1/Ejercicios/PSPEntregaUD1/nbproject/private/
/PSP/UD1/Ejercicios/PSPEntregaUD1/build/
/ACDAT/Ortiz_Mario/nbproject/private/
/ACDAT/Ortiz_Mario/build/
/ACDAT/UD1/XML/EjemploDocumentBuilder/nbproject/private/
/ACDAT/UD1/XML/Ejercicio12/nbproject/private/
/ACDAT/UD1/XML/Ejercicio12/build/
/PSP/UD1/Prácticas clase/CrearHilos/nbproject/private/
/PSP/UD1/Prácticas clase/CrearHilos/build/
/PSP/UD1/Prácticas clase/HilosProductoresConsumidores/nbproject/private/
/PSP/UD1/Prácticas clase/Sincronizaciondehilos/nbproject/private/
/PSP/UD1/Prácticas clase/Sincronizaciondehilos/build/
/ACDAT/UD1/Ortiz_Mario/dist/
/ACDAT/UD2/Ejercicios/AD_Tema2_JDBC_Oracle/nbproject/private/
/ACDAT/UD2/Ejercicios/AD_Tema2_JDBC_Oracle/build/
/PSP/UD1/Prácticas clase/Sincronizaciondehilos/dist/
/ACDAT/UD2/Ejercicios/AD_Practicas_Tema02_Acceso_BDR_OrtizMario/nbproject/private/
/ACDAT/UD2/Ejercicios/AD_Practicas_Tema02_Acceso_BDR_OrtizMario/build/
/ACDAT/UD2/Ejercicios/AD_Practicas_Tema02_Acceso_BDR_OrtizMario/dist/
/DEINT/UD1/Ejemplos/mensajesDialog/nbproject/private/
/DEINT/UD1/Ejemplos/mensajesDialog/build/
/ACDAT/UD2/Ejemplos/BD_Metadata/nbproject/private/
/ACDAT/UD2/Ejemplos/BD_Metadata/build/
/DEINT/UD1/Ejemplos/DialogoModalActualizaPrincipal/build/
/DEINT/UD1/Ejemplos/DialogoModalActualizaPrincipal/nbproject/private/
/DEINT/UD1/Ejemplos/ListaSocios/nbproject/private/
/DEINT/UD1/Ejemplos/ListaSocios/build/
/ACDAT/UD2/Ejercicios/AD_Tema02_Practica01_Ortiz_Mario/nbproject/private/
/ACDAT/UD2/Ejercicios/AD_Tema02_Practica01_Ortiz_Mario/build/
/ACDAT/UD2/Ejercicios/AD_Tema02_Practica01_Ortiz_Mario/dist/
/ACDAT/UD3/Ejemplos/PruebaHibernate01/nbproject/private/
/ACDAT/UD3/Ejemplos/PruebaHibernate/nbproject/private/
/DEINT/UD1/Ejercicios/Ejercicios_GUI_Java_OrtizMario/nbproject/private/
/DEINT/UD1/Ejercicios/Ejercicios_GUI_Java_OrtizMario/build/
/DEINT/UD1/Ejercicios/Ejercicios_GUI_Java_OrtizMario/dist/
/DEINT/UD1/Ejercicios/EditorSencillo_OrtizMario/nbproject/private/
/DEINT/UD1/Ejercicios/EditorSencillo_OrtizMario/build/
/DEINT/UD1/Ejemplos/EjemploColorChooser/nbproject/private/
/DEINT/UD1/Ejemplos/EjemploColorChooser/build/
/DEINT/UD1/Ejemplos/EjemploColorChooser/dist/
/DEINT/UD1/Ejemplos/Ejercicio_JColorChooser_OrtizMario/nbproject/private/
/DEINT/UD1/Ejemplos/Ejercicio_JColorChooser_OrtizMario/dist/
/DEINT/UD1/Ejemplos/Ejercicio_JColorChooser_OrtizMario/build/
/DEINT/UD1/Ejemplos/Ejercicio_FiltrarJTable_OrtizMario/nbproject/private/
/DEINT/UD1/Ejemplos/Ejercicio_FiltrarJTable_OrtizMario/build/
/DEINT/UD1/Ejemplos/Ejercicio_FiltrarJTable_OrtizMario/dist/
/ACDAT/UD3/Ejemplos/PruebaHibernate/build/
/ejemploParaJolyneUwu/nbproject/private/
/ACDAT/UD3/Ejemplos/PracticaClaseHQL/nbproject/private/
/ACDAT/UD3/Ejemplos/PracticaClaseHQL/build/
/DEINT/UD1/Ejercicios/Ejercicio2PersonasCopyProcesadores/build/
/DEINT/UD1/Ejercicios/Ejercicio2PersonasCopyProcesadores/nbproject/private/
/DEINT/UD1/Ejercicios/Ejercicio2_ManipulacionJTable_OrtizMario/nbproject/private/
/DEINT/UD1/Ejercicios/Ejercicio2_ManipulacionJTable_OrtizMario/build/
/ACDAT/UD3/Ejercicios/Ortiz_Mario/nbproject/private/
/ACDAT/UD3/Ejercicios/Ortiz_Mario/build/
/ACDAT/UD3/Ejercicios/Ortiz_Mario/dist/
/ACDAT/UD3/Practicas para el examen/AcademiaJDBC/nbproject/private/
/ACDAT/UD3/Practicas para el examen/AcademiaCriteria/nbproject/private/
/ACDAT/UD3/Practicas para el examen/AcademiaJDBC/build/
/ACDAT/UD3/Practicas para el examen/AcademiaJDBC/dist/
/ACDAT/EXAMEN PEPE 1 EVAL/Ortiz_Mario/build/
/ACDAT/EXAMEN PEPE 1 EVAL/Ortiz_Mario/dist/
/PSP/UD4 SOCKETS/EjemploSockets/nbproject/private/
/PSP/UD4 SOCKETS/EjemploSockets/build/
